<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <head>
    <h1><%= title %></h1>
  </head>
  <div role="main">
    <p><%= content %></p>
    <table>
      <tr>
        <th>NAME</th>
        <td><%= test.id %></td>
      </tr>
      <tr>
        <th>MAIL</th>
        <td><%= test.todo %></td>
      </tr>
    </table>
    <form action="/delete" method="post">
      <input type="hidden" name="id" value="<%= test.id %>">
      <p><input type="submit" value="送信"></p>
    </form>
  </div>
</body>

</html>